<div class="widget">
  <h3 class="widget-title">Connect</h3>
  <ul>
    <li><a class="spec" href="http://www.linkedin.com/in/jimsheldon/" alt="LinkedIn" target="_blank" onclick="trackOutboundLink('http://www.linkedin.com/in/jimsheldon?loc=sidebar');">Linkedin</a></li>
    <li><a class="spec" href="http://github.com/jasheldo?loc=sidebar" alt="Github" target="_blank" onclick="trackOutboundLink('http://github.com/jasheldo/');">Github</a></li>
    <li><a class="spec" href="http://twitter.com/jasheldo?loc=sidebar" alt="Twitter" target="_blank" onclick="trackOutboundLink('http://twitter.com/jasheldo/');">Twitter</a></li>
    <li><a class="spec" href="mailto:jimsheldon@icloud.com" alt="email" target="_blank" onclick="trackOutboundLink('mailto:jimsheldon@icloud.com');">Email</a></li>
  </ul>
</div>
